# Geohashing the map and merging


-5 et 10 en longitude
42 et 52 en latitude

In [42]:
import numpy as np
import pandas as pd

In [81]:
increment = 0.01
lat_start = 42
lat_end = 52
lon_start = -5
lon_end = 10
threshold = 5
# lon = lon_start
# lat = lat_start
cell_list=[]
x=lon_start
y=lat_start
index_x=0
index_y=0
for index_y in range(int((lat_end-lat_start)/increment)):
    for index_x in range(int((lon_end-lon_start)/increment)):
        cell_list.append(f'{index_x}_{index_y}')
    index_x=0

In [82]:
cell_np=np.array(cell_list)
cell_np.shape

(1500000,)

In [85]:
def load_sample_csv(path:str) ->pd.DataFrame:
    df_sample_csv=pd.read_csv(path)
    df_sample_csv['cellid']='_'
    df_sample_csv['count']=1
    df_sample_csv['zoom']=1
    return df_sample_csv

df_sample_csv=load_sample_csv('../00-data/data_csv/meta_shard_0.csv')

In [86]:
df_sample_csv

,img,lat,lon,data,cellid,count,zoom
0,a6_c4_3038144879.jpg,48.857599,2.337684,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
1,a7_00_2633379373.jpg,45.875802,0.175330,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
2,03_2e_4493999629.jpg,50.940437,6.870537,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
3,c6_12_3073882997.jpg,51.493608,7.451820,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
4,0d_1d_3586372001.jpg,43.909642,5.197563,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
...,...,...,...,...,...,...,...
4703,ac_a1_4171737184.jpg,51.635791,-0.106115,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
4704,07_a4_4360452150.jpg,49.076782,2.179498,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
4705,78_76_3676267394.jpg,51.910622,4.473302,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
4706,34_6c_6424789109.jpg,44.755144,5.332853,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1
4707,2b_ba_2806492503.jpg,50.727260,-1.864371,ffd8ffe000104a46494600010100000100010000ffdb00...,_,1,1

In [83]:
lon=lon_start
lat=lat_start

# Unfinished worked to create a hashing and check that each cell contains enough photos

for index_y in range(int((lat_end-lat_start)/increment)):
    for index_x in range(int((lon_end-lon_start)/increment)):
        if f'{index_x}_{index_y}' in cell_np:
            cell_np = np.delete(cell_np, np.where(cell_np == f'{x}_{y}'))
            if len(df_sample_csv[(df_sample_csv.lat>lat) & 
                                (df_sample_csv.lat<round(lat+increment,2) & 
                                (df_sample_csv.lon>lon) & 
                                (df_sample_csv.lon<round(lon+increment,2))])<threshold:
                if len(df_sample_csv[(df_sample_csv.lat>lat) & 
                                (df_sample_csv.lat<round(lat+2*increment,2)) & 
                                (df_sample_csv.lon>lon) & 
                                (df_sample_csv.lon<round(lon+increment,2)])<threshold:
                    if len(df_sample_csv[(df_sample_csv.lat>lat) & 
                                    (df_sample_csv.lat<round(lat+2*increment,2)) & 
                                    (df_sample_csv.lon>lon) & 
                                    (df_sample_csv.lon<round(lon+2*increment,2)])<threshold:
                    
                    y+=1
                    lat+=increment
                    index=index+f'{x}_{y}'
            else:
                name = nam
                next

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' on line 8 (639562120.py, line 10)

In [ ]:
          
increment=1
df_sample_csv[(df_sample_csv.lat>lat_start) & (df_sample_csv.lat<lat_start+increment) & (df_sample_csv.lon>lon_start) & (df_sample_csv.lon<lon_start+increment)]
df_sample_csv[(df_sample_csv.lat>lat_start) & (df_sample_csv.lat<lat_start+2*increment) & (df_sample_csv.lon>lon_start) & (df_sample_csv.lon<lon_start+increment)]
len(df_sample_csv[(df_sample_csv.lat>lat_start) & (df_sample_csv.lat<lat_start+2*increment) & (df_sample_csv.lon>lon_start) & (df_sample_csv.lon<lon_start+2*increment)])